.tree-parent {
    list-style-type: none;
    height: 100%;
    padding: 0 0 0 10px;
    margin: 0;

    div {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            margin: 10px 0;
        }
    }
    li {
        cursor: pointer;
    }
}

.tree-child {
    padding: 0 0 0 10px;
}